<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Popup</title>
    <link rel = "stylesheet" href = "./popup.css">
    <script src = "https://kit.fontawesome.com/a076d05399.js"></script>
    <script src = "./popup.js" defer></script>
</head>
<body>
    <div class = "container">
        <h1>IDK WHAT TO NAME THIS YET LOL</h1>
        <button id = "journalButton" class = "btn">Journal</button>
        <button id = "redirectButton" class = "btn">Redirect</button>
        <button id = "routineButton" class = "btn">Routine</button>
        <button id = "reflectionTimerButton" class = "btn">Reflection Timer</button>
        <button id = "exitAndFocusButton" class = "btn">Exit and Focus</button>
    </div>
    <script src = "./popup.js" defer></script>
    
</body>
</html>

<!-- 
    random notes:
    I want to create a chrome extension that basically is a Self-control agent. I want it so that when I hop onto a website like youtube or instagram (list that I can specify in configure extension) it will give me a few options to click on. It will also activate every like 30 min if the person decides to continue on the website (time interval specify in configure extension).   

1. the journaling option
2. the redirect option
3. the routine option
4. the reflection timer option
5. the exit and focus option 

The journaling option requires the user to write a minimum word limit on why they are going to this website. Once the user clicks submit, I want to store it into a CSV file database, local to the user. It will then redirect the proceed page, where you can specify how long you want to stay on the webpage before it goes back to the self control agent extension page (with the 5 options). 

The next option is the redirect option. This basically just redirects the page into a predetermined site (specify in configure extension) 

The routine option basically goes into a breathing exercise, like a interactive custom website. It will then redirect the proceed page, where you can specify how long you want to stay on the webpage before it goes back to the self control agent extension page (with the 5 options). 

The reflection timer option makes you wait for 15 seconds (change in configure extension page).   It will then redirect the proceed page, where you can specify how long you want to stay on the webpage before it goes back to the self control agent extension page (with the 5 options). 

The exit and focus option plays a rewarding sound (khan academy sound) with a Good job page (change custom message in configure extension) and then closes the page.
 -->