<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Proceed Page</title>
        <link rel = "stylesheet" href = "./popup.css">
        <script src = "https://kit.fontawesome.com/a076d05399.js"></script>
        <script src = "./popup.js" defer></script>
    </head>
<body>
    <h1>Proceed Page</h1>
    <form id="proceedForm">
        <p> r u sure u wanna proceed </p>
        <button type="Proceed">Yes, Proceed</button>
        <button type="Don't Proceed">No, don't Proceed</button>
    </form>
    

    <script src="proceed.js"></script>
</body>
</html>
