body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #7289da, #cab2fb);
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;
    color: #21242c;
    line-height: 1.4;
}

.container {
    text-align: center;
    transform: translate3d(0, 0, 0);
    animation: popOut 1s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    background: linear-gradient(to bottom, #c6d4ff, rgb(179, 179, 255));
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
#sineCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}       

@keyframes popOut {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

h1 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 10vw;
    font-weight: 400;
    line-height: .8;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif; 
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    color: #000; 
    cursor: pointer;
    animation: moveBlocks 2s infinite alternate;
    margin-bottom: 10px;

}

@keyframes moveBlocks {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

form {
    margin-top: 20px;
}

.error-text {
    color: red;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif; 
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 3px; /* You need to specify a unit for margin-bottom, like px */
}

textarea {
    width: 100%; 
    height: 100px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    resize: none;
    border: 1px solid #000;
    border-radius: 5px;
    opacity: 0.8;
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;
}

.divLarge {
    margin-top: 20px;
}

.divSmall {
    margin-top: 10px;
}

.button {
    font-size: medium;
    z-index: 100;
    color: var(--black);
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid #000;
    justify-content: center;
    padding: 20px 40px 20px 50px;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    font-weight: 600;
    transition: all .2s;
    display: flex;
    position: relative;
}

/* from foundation */
.main-button { 
    appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

/* from google*/
.secondary-button {
        align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    width: auto;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.main-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.main-button:active {
    box-shadow: none;
  transform: translateY(0);
}

.secondary-button:hover {
    transform: translateY(-1px);
}
.secondary-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}
.secondary-button:active {
    background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/* Animation Classes */
.animate__animated {
    animation-duration: 1s;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

.animate__fadeInDown {
    animation-name: fadeInDown;
}

.animate__fadeInLeft {
    animation-name: fadeInLeft;
}

.animate__fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* @keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
} */

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
